/* 

****************************************
Global Styling 
****************************************

*/

body {
  margin: 0px;
  font-family: "Circular Std", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 

****************************************
Custom Fonts
****************************************

*/

/* Circular Std Book */
@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-Book.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* Circular Std Book Italic */
@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-BookItalic.otf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

/* Circular Std Bold */
@font-face {
  font-family: "Circular Std";
  src: url("/fonts/CircularStd-Bold.otf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

/* 

****************************************
Newsletter CTA modal global styles
****************************************

*/
.react-responsive-modal-container {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 999;
}

.react-responsive-modal-modal {
  max-width: 650px !important;
  padding: 60px 70px 44px 70px !important;
}

.react-responsive-modal-closeButton:focus {
  outline: none;
}

.react-responsive-modal-closeButton svg path {
  fill: #bdbdbd;
}

@media screen and (max-width: 900px) {
  .react-responsive-modal-modal {
    padding: 60px 30px 20px 30px !important;
  }
}

/* 

****************************************
nProgress Router styles overrides
****************************************

*/

#nprogress {
  z-index: 3;
}

#nprogress .bar {
  background: #391463 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #391463, 0 0 5px #391463 !important;
}
