/* **** Global Styling **** */
body {
  margin: 0px;
  font-family: 'Circular Std';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* **** Custom Fonts **** */
/* Circular Std Book */
@font-face {
  font-family: 'Circular Std';
  src: ("/fonts/CirularStd-Book.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* Circular Std Book Italic */
@font-face {
  font-family: 'Circular Std';
  src: ("/fonts/CirularStd-BookItalic.otf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

/* Circular Std Bold */
@font-face {
  font-family: 'Circular Std';
  src: ("/fonts/CirularStd-Bold.otf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}