/* 

****************************************
Newsletter
****************************************

*/

.newsletter {
  text-align: center;
}

.newsletter > h1 {
  font-size: 38px;
  margin: 0px;
  color: #424242;
}

.newsletter > p {
  max-width: 400px;
  margin: 40px auto 0px auto;
  color: #424242;
  font-size: 18px;
  line-height: 25.2px;
}

.newsletterBox > input {
  border: 2px solid #391463;
  color: #000;
  font-size: 17px;
  padding: 10px 8px 10px 12.5px;
  max-width: 250px;
  width: calc(100% - 20px);
}

.newsletterBox > input::placeholder {
  color: #dcdcdc;
}

.newsletterBox > input:focus {
  outline: none;
}

.newsletterBox > button {
  font-size: 17px;
  font-weight: bold;
  padding: 12px 30px;
  border: none;
  background-color: #391463;
  color: #fff;
  cursor: pointer;
}

.newsletter > button {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #bdbdbd;
  cursor: pointer;
}

.newsletter > button:focus,
.newsletter > button:active {
  outline: none;
}

/* 

****************************************
Layout — Responsive
****************************************

*/

@media screen and (max-width: 500px) {
  .newsletterBox > input {
    max-width: calc(100% - 22.5px);
  }

  .newsletterBox > button {
    display: block;
    width: calc(100% + 2px);
    margin-top: 10px;
  }
}
